<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LandingPage.css') }}">
    <title>Take Away - Green Eat</title>
</head>
<body>
    <div class="inicio">
        <a href="{{ url_for('registro') }}">
            <button class="button-Welcome" role="button">Take Away</button>
        </a>
    </div>
</body>
</html>
