<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Menú - Green Eat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <div class="contenido">
        <h1>Menú de Productos</h1>
        <div style="margin-bottom: 20px;">
        <a href="{{ url_for('ver_carrito') }}" style="
            background-color: #2ecc71;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
        ">🛒 Ver Carrito</a>
    </div>

        <div>
            <a href="{{ url_for('menu', ordenar_por='nombre') }}">Ordenar por nombre</a> |
            <a href="{{ url_for('menu', ordenar_por='precio') }}">Ordenar por precio</a>
        </div>
        

        <div class="contenedor-menu">
            {% for p in productos %}
                <a href="{{ url_for('detalle_producto', nombre=p.nombre) }}" class="producto">
                    <img src="{{ url_for('static', filename='imagenes/' + p.imagen) }}" alt="{{ p.nombre }}">
                    <h3>{{ p.nombre }}</h3>
                    <p>${{ p.precio }}</p>
                    <p class="categoria">{{ p.categoria.capitalize() }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>

