body {
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/fondo.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.iniciar {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
.iniciar h2 {
    margin-bottom: 1rem;
    color: #da3810;
}
.iniciar input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.iniciar button {
    width: 100%;
    padding: 0.7rem;
    background-color: #e76f0c;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}
.iniciar button:hover {
    background-color: #f0943e;
}

.iniciar a {

    text-decoration: none;
    color: green;
}